aws_profile = ""
aws_assume_role_arn = ""
aws_region = "ca-central-1"
service_name = "InfinityForRedditBuilder"
repository_name = "mdinicola/infinity-for-reddit-builder"
repository_url = "https://github.com/mdinicola/infinity-reddit-builder"
repository_branch_name = "main"
repository_connection_arn = ""
repository_codeconnection_arn = ""
artifacts_bucket_name = ""
keystore_file_arn = ""